{%load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
</head>
<title>生徒情報</title>

{% block content %}
<table>
	<tr>
	    <td>ID</td>
	    <td>名前</td>
	    <td>苗字</td>
	    <td>メール</td>
	    <td>電話</td>
	    <td>パスワード</td>
	    <td>学校</td>
	    <td>学年</td>
	    <td>年齢</td>
	    <td>誕生日</td>
	    <td>性格</td>
	    <td>所属してるか否か</td>
	    <td>作成日</td>
	  </tr>
	<tr>
		<td>{{ student.id }}</td>
		<td>{{ student.first_name }}</td>
		<td>{{ student.last_name }}</td>
		<td>{{ student.email }}</td>
		<td>{{ student.phone }}</td>
		<td>{{ student.password }}</td>
		<td>{{ student.school_id }}</td>
		<td>{{ student.grade }}</td>
		<td>{{ student.age }}</td>
		<td>{{ student.bday }}</td>
		<td>{{ student.chara }}</td>
		<td>{{ student.flag }}</td>
		<td><time>{{ student.created_date|date:"M j, Y H:i:s" }}</time></td>
		<!-- dateの参照:
             https://dot-blog.jp/news/django-template-date/ -->
	</tr>
</table>

<a href = "{% url 'manage_hr_app:index' %}">戻る</a>
{% endblock %}